html {
    background-image: url(/weather-background.webp);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    color: white;
}

#inputsCont {
    display: flex;
    gap: 10px;
}

#toggleDegreesBtn {
    margin-top: 1rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}

#currentWeatherDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4rem;
    color: black;
    height: 250px;
    width: 500px;
    border-radius: 28px;
    background-color: lightgrey;
    border: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#top {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
}

#bottom {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 3rem;
}

#right {
    margin-top: 15px;
    font-size: 1.3rem;
}

#currentTemp {
    font-size: 7rem;
}

#dailyCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 1rem;
}

.daily {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 150px;
    background-color: lightgrey;
    border-radius: 28px;
    color: black;
    font-size: 1.3rem;
    border: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}